* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgray;
}

.header{
    background-color: white;
    height: 70px;
}
.header h1{
    text-align: center;
    font-size: 60px;
}

.post{
    margin: 50px auto;
    width: 40%;
    background-color: white;
    display: block;
    border-radius: 10px;
}

.postHeader{
    margin: auto;
    padding: 10px;
    display: flex;
}
.postHeader h1 {
    width: 100%;
}
.postHeader h2 {
    color: darkgray;
}

.postImage{
    width: 100%;
}

.description {
    padding: 10px;
    text-align: justify;
}